.transactions-container {
  padding: 1rem 0 1rem;
}

.hm-date {
  padding: 1.5rem 1rem 0.5rem;
}

.hm-date:not(:first-child) {
  border-top: 1px solid #ced4da;
}

.transaction-row {
  padding-top: 1rem;
}

.transaction-row.even {
  background: #f9f9f9;
}

form[data-transaction-type="income"] .hm-amount .form-control {
  color: darkgreen;
}

form[data-transaction-type="expense"] .hm-amount .form-control {
  color: darkred;
}

.form-group .hm-description .form-control {
  height: 5.7rem;
}

label.ui-checkbox {
  box-sizing: initial;
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #fff;
  cursor: pointer;
  font-size: 0;
  color: transparent;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border: 1px solid #80bdff;
}

label.ui-checkbox:hover {
  box-shadow: inset 0 0 2px 0 #80bdff;
}

label.ui-checkbox:before, label.ui-checkbox:after {
  content: '';
  display: block;
  height: 4px;
  width: 0;
  position: absolute;
  top: 8px;
  left: 10px;
  border-radius: 2px;
  background: #28a745;
  transition: width 0.15s ease-in-out, left 0.15s ease-in-out;
}
label.ui-checkbox:before {
  transform: rotate(45deg);
}

label.ui-checkbox:after {
  transform: rotate(-45deg);
}

label.ui-checkbox input {
  display: none;
}

label.ui-checkbox.checked:before,
label.ui-checkbox.checked:after  {
  width: 20px;
  left: 0;
}

.autocomplete {
  padding: 2px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.autocomplete div {
  padding: 4px 8px;
}

.autocomplete div:not(:first-child) {
  border-top: 1px solid #eee;
}

.autocomplete div.selected {
  background-color: #6c757d;
  color: #fff;
}
