.hm-floating-btn {
  cursor: pointer;
  background: #00cd0b;
  color: #fff;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 220px;
  padding: 10px;
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 14px;
}

.hm-floating-btn:hover {
  background: #00e215;
}

.hm-parsed-info {
  display: flex;
}

.hm-parsed-info input.hm-description {
  margin-right: 10px;
  border: 1px solid #999;
  border-radius: 4px;
}

.hm-parsed-info select.hm-category {
  border: 1px solid #999;
}
